.filters {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  margin-bottom: var(--space-sm);
}

@media (min-width: 640px) {
  .filters {
    flex-direction: row;
  }

  .filters > * {
    flex: 1;
  }
}
